.contacts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 114px;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.contacts__column {
  &--map {
    width: 560px;

    @media (max-width: $tablet-width) {
      width: 324px;
    }

    @media (max-width: $mobile-width) {
      display: flex;
      justify-content: center;
      order: 2;
      width: 100%;
    }
  }

  &--text {
    padding-top: 58px;
    width: calc(100% - 560px);
    padding-left: 100px;

    @media (max-width: $tablet-width) {
      width: calc(100% - 324px);
      padding-left: 30px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      padding-bottom: 40px;
      padding-left: 0;
    }
  }
}

.contacts__map {
  border: none;

  @media (max-width: $tablet-width) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 316px;
  }
}

.contacts__text {
  font-size: 18px;
  font-weight: 500;
}

.contacts__address {
  position: relative;

  margin-top: 32px;
  margin-bottom: 20px;
  padding-left: 30px;

  font-style: normal;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 22px;

    background-image: url("../../img/geo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  @media (max-width: $tablet-width) {
    padding-right: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.contacts__phone {
  @include interactive-element;

  position: relative;

  padding-left: 30px;

  color: $dark-blue;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-image: url("../../img/phone.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
}
