.promo {
  margin-top: -108px;

  background-image: url("../img/desktop/bg-header.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark-blue;

  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop/bg-header@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/tablet/bg-header.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet/bg-header@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    margin-top: -62px;

    background-image: url("../img/mobile/bg-header.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile/bg-header@2x.jpg");
    }
  }
}

.promo__wrapper {
  padding-top: 228px;
  padding-bottom: 254px;
  padding-left: 96px;

  color: $white-100;

  @media (max-width: $tablet-width) {
    padding-top: 254px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 152px;
    padding-bottom: 164px;
  }
}

.promo__title {
  margin-bottom: 0;

  font-size: 54px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    margin-bottom: 2px;

    font-size: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 1.25;
  }
}

.promo p {
  margin-top: 0;

  font-size: 20px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 80px;

    font-size: 16px;
    line-height: 1.4;
  }
}
