.social {
  @include list-reset;

  display: flex;

  &--page-footer {
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: -32px;

    @media (max-width: $tablet-width) {
      margin-right: -23px;
    }

    @media (max-width: $mobile-width) {
      justify-content: flex-start;
      margin: 0;
    }
  }
}

.social__item {
  margin-right: 32px;

  @media (max-width: $tablet-width) {
    margin-right: 23px;
  }
}

.social__item a {
  @include interactive-element;

  padding-top: 15px;
  padding-bottom: 15px;

  color: $white-100;

  @media (max-width: $mobile-width) {
    display: block;
    padding-top: 8px;
    padding-bottom: 0;
  }
}

.social__item--facebook svg {
  @media (max-width: $tablet-width) {
    width: 9px;
    height: 16px;
  }
}

.social__item--instagram svg {
  @media (max-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }
}

.social__item--twitter svg {
  @media (max-width: $tablet-width) {
    width: 16px;
    height: 13px;
  }
}
