.container {
  width: 88%;
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    min-width: 678px;
    max-width: 1023px;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
    max-width: 678px;
  }
}
