.container {
  width: 90%;
  min-width: 925px;
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 88%;
    min-width: 678px;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
    max-width: 678px;
  }
}
