// Breakpoints
$tablet-width: 1023px;
$mobile-width: 767px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
$white: #ffffff;
$white-100: #f9fbfd;
$dark-blue: #011c40;
$light-blue: #e3ecf6;
